
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  padding: 1em;
  margin-left: 10%;
  margin-right: 10%;
}

.see-all {
  margin-top: 1em;
  padding: 1em;
  color: var(--brand-secondary);
  border: 1px solid var(--brand-secondary);
  border-radius: 0.5em;
  width: fit-content;
}

.header {

  // box-shadow: 0px 2px 3px gainsboro;

  margin-left: 10px;
  margin-right: 10px;

  padding-left: 5px;
  padding-right: 5px;

  // background-color: gainsboro;
  display: flex;
  justify-content: space-between;
  align-items: center;

    .left {
      width: 50%;
      padding-right: 5em;
    }


    h1 {
      border-bottom: 3px solid var(--brand-secondary);
      color: var(--brand-secondary);
      padding: 0.2em;
    } 

    h2 {
      
      // font-size: small;
      // font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: gray;

    }

}

.link-right {

  // border-bottom: 1px solid;
  // text-decoration: none;
  color: var(--brand);
  font-weight: bolder;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 0.5em;
  cursor: pointer;

  a {
    text-decoration: none;
    color: var(--brand);
    font-weight: bolder;
  }

  i {
    margin-left: 5px;
    color: var(--brand);
  }
}

.combined {

  display: flex;
  flex-direction: row;

  

  .item {
    width: 100%;

    // display: flex;
    // flex-direction: row;

    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color: grey;

    background-color: whitesmoke;
    padding: 1em;
    border: 2px solid var(--brand-secondary);

    .text {
      font-weight: bolder;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 1em;
    }

  }

  .transbordo {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 0.5em;
    margin-top: 0.5em;
    justify-content: center;
    display: flex;
    flex-direction: column;

  }

  .selected {
    background-color: #028997;
    color: white;

  }
}

.combined-routes {
  border: 2px solid green;
  color: green;
  padding: 0.5em;
  margin-top: 1em;

  .town {
    text-decoration: underline;
    font-weight: bolder;
    color: gray;
  }
}

.mode {

  margin-left: 10px;
  margin-right: 10px;

  margin-top: 10px;
  margin-bottom: 10px;

  padding-top: 20px;
  padding-bottom: 10px;

  padding-left: 1em;

  color: white;

  color: var(--brand-secondary);
  background-color: white;
  border-bottom: 2px solid var(--brand-secondary);
  font-weight: bolder;
}

.mode-holidays {

  color: white;

  padding: 1em;

  margin-left: 10px;
  margin-right: 10px;

  color: orangered;
  background-color: white;
  border: 1px solid orangered;
  border-radius: 6px;
  // font-weight: bolder;
}


.item {

  border-radius: 0.5em;
  margin-top: 0.5em;

  margin-left: 10px;
  margin-right: 10px;
}