
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  flex: 1;
}

.link-item {
  flex: 1 1 calc(33.333% - 1rem);
  box-sizing: border-box;
  border: 1px solid var(--brand-secondary);
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: var(--brand-secondary);
  font-weight: bolder;
  background-color: #f9f9f9;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: #e0e0e0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
}

a {
  text-decoration: none;
}