
<app-header></app-header>

<!--

@if(loading) {
    <div class="container">
      loading
    </div>
}

@else {
    <div class="container">

      @if (isRouteProhibited) {
        <div>
          ruta prohibida: {{ isRouteProhibited }}
        </div>
      }

      <div class="line">
        <div class="line-item ">
          <label for="origin">
            {{'origin' | translate }}
          </label>
          <select [(ngModel)]="origin" name="origin" id="origin">
            @for (town of towns; track $index) {
            <option [ngValue]="town">
              {{ town.description }}
            </option>
            }
          </select>
        </div>

        <div class="flip" (click)="flip()">
          <i class="icon ion-md-swap"></i>
        </div>

        <div class="line-item">
          <label for="destination">
            {{'destination' | translate }}
          </label>
          <select [(ngModel)]="destination" name="destination" id="destination">
            @for (town of towns; track $index) {
            <option [ngValue]="town">
              {{ town.description }}
            </option>
            }
          </select>
        </div>

      </div>

      <div class="line">
        <div>
          <input type="date" id="date" name="date" [(ngModel)]="dateValue">
        </div>
      
        <div>
          <input type="time" id="time" name="time" [(ngModel)]="timeValue">
        </div>
      </div>

      <div (click)="find()">
        <button>
          {{ 'search' | translate }}
        </button>
      </div>

    </div>
}

-->

<div class="container">
  <h1>
    bus fuerteventura - fuerteguagua
  </h1>
  <h2>
    página en construcción
  </h2>

  <a href="https://apps.apple.com/app/id6446034927" target="_blank" rel="noopener">App "fuerteguagua" en iOS</a>
  <a href="https://play.google.com/store/apps/details?id=com.fuerteguaua.app" target="_blank" rel="noopener">App "fuerteguagua" en Android</a>

</div>

<app-footer></app-footer>