
<app-header></app-header>


@if(loading) {
    <div class="container">
      loading
    </div>
}

@else {
    <div class="container">

      @if (isRouteProhibited) {
        <div>
          ruta prohibida: {{ isRouteProhibited }}
        </div>
      }

      <div class="line">
        <div class="line-item ">
          <label for="origin">
            {{'origin' | translate }}
          </label>
          <select [(ngModel)]="origin" name="origin" id="origin">
            @for (town of towns; track $index) {
            <option [ngValue]="town">
              {{ town.description }}
            </option>
            }
          </select>
        </div>

        <div class="flip" (click)="flip()">
          <i class="icon ion-md-swap"></i>
        </div>

        <div class="line-item">
          <label for="destination">
            {{'destination' | translate }}
          </label>
          <select [(ngModel)]="destination" name="destination" id="destination">
            @for (town of towns; track $index) {
            <option [ngValue]="town">
              {{ town.description }}
            </option>
            }
          </select>
        </div>

      </div>

      <div class="line">
        <div>
          <input type="date" id="date" name="date" [(ngModel)]="dateValue">
        </div>
      
        <div>
          <input type="time" id="time" name="time" [(ngModel)]="timeValue">
        </div>
      </div>

      <div>
        <button>
          {{ 'search' | translate }}
        </button>
      </div>

    </div>
}

<app-footer></app-footer>