
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

label {
  background-color: aqua;
}

select, input {
  border: 1px solid red;
  cursor: pointer;
  width: 300px;
  height: 50px;
}

button {
  border: 1px solid red;
  width: 300px;
  height: 50px;
  cursor: pointer;
  background-color: white;
  color: var(--brand-secondary);
  box-shadow: 0px 2px 3px gainsboro;
}