<app-header></app-header>

@if(loading) {
    <div class="container">
      loading
    </div>
}

@else {
    <div class="container">

      <div>
        <label for="">
          {{ originLabel }}
        </label>
        <select name="" id="">
          @for (town of towns; track $index) {
            <option value="">
              {{ town.description }}
            </option>
          }
        </select>
      </div>

      <div>
        <label for="">
          {{ destinationLabel }}
        </label>
        <select name="" id="">
          @for (town of towns; track $index) {
            <option value="">
              {{ town.description }}
            </option>
          }
        </select>
      </div>

      <div>
        <label for="date">
          Date
        </label>
        <input type="date" id="date" name="date">
      </div>

      <div>
        <label for="time">
          Time
        </label>
        <input type="time" id="time" name="time">
      </div>

      <div (click)="find()">
        <button>
          {{ 'search' | translate }}
        </button>
      </div>
`
    </div>
}

<app-footer></app-footer>