<app-header></app-header>

@if(loading) {
    <div class="container">
      loading
    </div>
}

@else {
    <div class="container">

      <div>
        <label for="origin">
          {{ originLabel }}
        </label>
        <select [(ngModel)]="origin" name="origin" id="origin">
          @for (town of towns; track $index) {
            <option [ngValue]="town">
              {{ town.description }}
            </option>
          }
        </select>
      </div>

      <div>
        <label for="destination">
          {{ destinationLabel }}
        </label>
        <select [(ngModel)]="destination" name="destination" id="destination">
          @for (town of towns; track $index) {
            <option [ngValue]="town">
              {{ town.description }}
            </option>
          }
        </select>
      </div>

      <div>
        <label for="date">
          Date
        </label>
        <input type="date" id="date" name="date" [(ngModel)]="dateValue">
      </div>

      <div>
        <label for="time">
          Time
        </label>
        <input type="time" id="time" name="time" [(ngModel)]="timeValue">
      </div>

      <div (click)="find()">
        <button>
          {{ 'search' | translate }}
        </button>
      </div>
`
    </div>
}

<app-footer></app-footer>