
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 1em;
}

.line {
  width: 100%;
  border: 1px solid gray;
  background-color: gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;

  label {
    display: inline-block;
    width: 150px;
    background-color: gainsboro;
    
  }

}

select, input, button {
  width: 300px;
  height: 70px;
}

button {

}