/* You can add global styles to this file, and also import other style files */

@import './theme/variables.scss';

@font-face {
  font-family: 'Architects Daughter';
  src: url('./../assets/ArchitectsDaughter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  height: 100%;
}