<app-header [text]="titleSchedule" page="lines" />

@if(loading) {
  <div class="container">
    loading
  </div>
}

@else {
  <div class="container">

      <div *ngIf="isHoliday" class="mode-holidays">

        {{ 'theConsultedDayIs' | translate }}

        <strong>
          {{ holidayData.name }}
        </strong>
        <strong>
          {{ holidayData.message }}
        </strong>

        {{ 'holidaySchedulesApply' | translate }}

      </div>
      
      <div class="header">

        <div class="left">
          <h1>
            {{ 'iAmGoingFromSEOH1' | translate:{ origin: origin.description, destination: destination.description } }} </h1>
          
          <h2>
            {{ 'iAmGoingFromSEOH2' | translate:{ origin: origin.description, destination: destination.description } }}
          </h2>
          </div>

        <div class="right">

            <div class="link-right">
              <a href="">guagua (bus) {{destination.description}} - {{ origin.description }}</a>
              <i class="icon ion-md-swap"></i>
            </div>
            
        </div>

      </div>

      <!--
        <div class="mode" *ngIf="origin?.description && destination?.description">
          <a href="">{{ iAmGoingFromSEO }}</a>
        </div>
      -->

      @if (mode === 'directRoute') {
        <app-slider-lines (filter)="filter($event)" class="app-slider-lines" [lines]="lines" />

          <div *ngIf="activeFilters" class="see-all" (click)="seeAll()">
            {{ 'removeFilters' | translate }}
          </div>
      }

      @if (mode === 'directRoute') {

      <div class="mode">
          <i class="icon ion-md-bus"></i>
        {{ 'directRoute' | translate }}
      </div>

        @if (hours.length > 0) {
          @for (hour of hours; track $index) {
            @if ($index === 0) {

            }

            <app-item 
              [item]="hour" 
              [color]="hour.color" 
              [index]="$index" 
              [hour]="hour" 
              [dateTimeValue]="dateTimeValue" />

          }
        } @else {

        <div class="mode">

          <p>
            {{ 'noBusesAvailable' | translate }}
          </p>
          <p>
            {{ 'taxiOrPrivateVehicle' | translate }}
          </p>

        </div>
        }
      }

      @if (mode === 'combinedRoutes') {

      <div class="mode">
          <i class="icon ion-md-bus"></i>
        {{ 'combinedRoute' | translate }}
      </div>

      @for (combinada of combinadas; track $index) {

        <div class="combined">

          @for (item of combinada.items; track $index) {

            <div class="item" [ngClass]="{ 'selected': stepSelected === $index+1}" (click)="selectCombined(item, $index)">

              <div class="number">
                {{ 'step' | translate }}: {{ $index + 1 }}
              </div>
              <div class="text">
                {{ item.name.origen }} - {{ item.name.destino }}
              </div>

            </div>

            @if ($index === 0) {
              <div class="transbordo">
                {{ 'transbord' | translate }}
              </div>
            }
          }

        </div>
      }

      <div class="mode">
        {{ 'linesFor' | translate }}: {{ 'step' | translate }} | {{ stepSelected }}
      </div>

        <app-slider-lines (filter)="filter($event)" class="app-slider-lines" [lines]="lines" />

        <div *ngIf="activeFilters" class="see-all" (click)="seeAll()">
          {{ 'removeFilters' | translate }}
        </div>

      @if (hours.length > 0) {
        @for (item of hours; track $index) {

          <app-item-copy 
            [dateTimeValue]="dateTimeValue" 
            [item]="item" 
            [color]="item.color" 
            [index]="$index"
            [stepSelected]="stepSelected" 
            [hour]="item" 
          />

        }
      } @else {
          <div class="mode">
            <p>{{ 'noBusesAvailable' | translate }}</p>
            <p>{{ 'taxiOrPrivateVehicle' | translate }}</p>
          </div>
          }
      }

  </div>
}

<app-footer></app-footer>