.route-map {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    font-family: sans-serif;

  .stop {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid;
    flex-shrink: 0;

    &.circle-empty {
      border-color: var(--brand);
      background-color: white;
    }

    &.circle-filled {
      border-color: white;
      background-color: var(--brand); // Azul oscuro
    }
  }

  .stop-name {
    font-size: 1rem;
    font-weight: bold;
  }

  .line {
    width: 2px;
    height: 24px;
    margin-left: 6em; 
  }

  .solid {
    background-color: var(--brand);
  }

  .dashed {
    border-left: 2px dashed var(--brand);
    height: 24px;
  }
}

.stop-time {
  max-width: 80px;
  min-width: 80px;
}

.red-border {
  text-decoration: line-through;
  opacity: 0.5;
  color: red;
}